<%= form_for(episode, :html => {:class => 'ui inverted form'}) do |f| %>
  <% if episode.errors.any? %>
    <div id="error_explanation" class="ui negative message">
      <i class="close icon"></i>
      <div class="header"><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</div>

      <ul class="list">
      <% episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number, :"data-validate" => 'number' %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :"data-validate" => 'title'  %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.time_field :duration, :"data-validate" => 'duration' %>
  </div>

  <div class="field">
    <%= f.label :plot %>
    <%= f.text_area :plot, :"data-validate" => 'plot'  %>
  </div>

  <div class="field">
    <!-- <%= f.label :season_id %> -->
    <%= f.hidden_field :season_id, :value => episode.season_id %>
  </div>

  <div class="field">
      <%= f.submit :class => 'ui teal button' %>
  </div>
<% end %>

<script type="text/javascript">
$('.ui.form')
  .form({
    fields: {
      number : 'empty',
      title : 'empty',
      duration : 'empty',
      plot : 'empty'
    }
  })
;
</script>
