<h1>Watched Episodes
    <i class="chevron right icon"></i>
    <%= @days %> days,
    <%= @hours %> hours,
    <%= @minutes %> minutes,
    <%= @seconds %> seconds
</h1>

<%= link_to(list_watched_episode_path(1, format: :xlsx), :class=>"ui labeled icon button teal") do %>
<i class="download icon"></i>
Download as .xlsx
<% end %>

<div class="ui list">
  <% @user.viewed_episodes.each do |episode| %>
    <div class="item">
      <i class="film icon"></i>
      <div class="content">
        <div class="header" style="color: white;">
            <%= link_to(tv_show_path(episode.season.tv_show), :style => "color: white;") do %>
            <%= episode.season.tv_show.title %>
            <% end %>
            <i class="caret right icon"></i>
            <%= link_to(season_path(episode.season), :style => "color: white;") do %>
            Season <%= episode.season.number %>
            <% end %>
            <i class="caret right icon"></i>
            <%= link_to(episode_path(episode), :style => "color: white;") do %>
            Episode <%= episode.number %>:  <%= episode.title %>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<canvas id="myChart" width="400" height="150"></canvas>
<script>
Chart.defaults.global.defaultFontColor='white';
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: [
            <% @viewed_tv_shows.each do |t| %>
            "<%= t.title %>",
            <% end %>
        ],
        datasets: [{
            label: 'Number of watched episodes',
            data: [
                <% @viewed_tv_shows.each do |t| %>
                <%= t.watched_count %>,
                // 6,
                <% end %>
            ],
            backgroundColor: [
                <% @viewed_tv_shows.each do |t| %>
                'rgba(75, 192, 192, 0.5)',
                <% end %>
            ],
            borderColor: [
                <% @viewed_tv_shows.each do |t| %>
                'rgba(75, 192, 192, 1)',
                <% end %>
            ],
            borderWidth: 1
        }]
    },
    options: {
        barThickness: 5,
        scales: {
            xAxes: [{
                ticks: {
                    beginAtZero:true,
                    stepSize:1,
                }
            }],
            yAxes: [{
                barThickness: 35
            }]
        },
    }
});
</script>
