<h2><%= link_to(tv_show_path(@tv_show), :style => "color: rgba(255, 255, 255, 0.9);") do %>
    <%= @tv_show.title %>
    <% end %>
    <i class="chevron right icon"></i>
    <%= link_to(season_path(@season), :style => "color: rgba(255, 255, 255, 0.9);") do %>
        Season <%= @season.number %>
    <% end %>
    <i class="arrow right icon"></i>
    New Episode
</h2>



<div class="ui grid">
    <div class="nine wide column">
        <%= render 'form', episode: @episode %>
    </div>
    <div class="two wide column">
        <div class="ui right aligned grid">

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column">
                <i class="left arrow big inverted icon"></i>
            </div>

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>

            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column"></div>

            <div class="sixteen wide column">
                <i class="left arrow big inverted icon"></i>
            </div>

        </div>
    </div>
    <div class="five wide column">
        <div class="ui center aligned grid">
            <div class="sixteen wide column"></div>
            <div class="sixteen wide column">
                <h2>Basic information</h2>
            </div>
            <div class="sixteen wide column">
                <i class="info circle massive inverted icon"></i>
            </div>

            <div class="sixteen wide column">
                <h2>Plot information</h2>
            </div>
            <div class="sixteen wide column">
                <i class="file text outline massive inverted icon"></i>
            </div>

        </div>
    </div>
</div>

<!-- <%= link_to 'Back', seasons_path + '/'  + @episode.season_id.to_s + "/edit" %> -->
<!-- <%= link_to 'Back', episodes_path %> -->
