<h2><%= link_to(tv_show_path(@tv_show), :style => "color: rgba(255, 255, 255, 0.9);") do %>
    <%= @tv_show.title %>
    <% end %>
    <i class="chevron right icon"></i>
    <%= link_to(season_path(@season), :style => "color: rgba(255, 255, 255, 0.9);") do %>
    Season <%= @season.number %>
    <% end %>
    <i class="chevron right icon"></i>
    Episode <%= @episode.number %>
</h2>

<!-- <p id="notice"><%= notice %></p> -->

<div class="ui two column grid">
  <div class="seven wide column">
      <h3><%= @episode.title %></h2>

      <p>
        <%= @episode.plot %>
      </p>

      <p style="margin-bottom: 30px;">
        <strong>Duration:</strong>
        <%= @episode.duration.strftime("%H:%M") %>
      </p>
      <% if @user and (@user.is_admin == false)%>
          <% if @viewed == 0 %>
              <%= link_to(watch_episode_path(@episode), :class=>"ui labeled icon button primary", :style => "margin-bottom:15px;") do%>
                  <i class="unhide icon"></i>
                  Watch Episode
              <% end %>
          <% else %>
          <div class="ui green message" style="width: 60%;">You've already watched this chapter!</div>
          <% end %>
          <br>
      <% end %>
      <% if @user and ((@user.is_admin) or (@user.id == @tv_show.user_id)) %>
          <%= link_to(edit_episode_path(@episode), :class=>"ui labeled icon button teal", :style => "margin-bottom:15px;") do%>
              <i class="edit icon"></i>
              Edit Episode
          <% end %>
          <%= link_to(@episode, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui labeled icon button negative") do %>
              <i class="trash icon"></i>
              Destroy Episode
          <% end %>
      <% end %>
  </div>
  <div class="nine wide column">
      <h2 class="ui dividing header" style="color: white;">Reviews</h2>

      <% if @user %>
      <form class="ui form" style="margin-top: 35px;">
        <div class="field">
          <textarea id="review_text" placeholder="Your review..." rows="2"></textarea>
          <div class="ui huge star rating new-review" style="margin-top: 10px;"></div>
        </div>
        <div class="ui teal labeled submit icon button" id="add-review">
          <%
          @tiene_reviews = false
          @reviews.each do |review|
            if review.user.id == @user.id
              @tiene_reviews = true
            end
          end %>
          <% if !@tiene_reviews %>
            <i class="icon star"></i> Add Review
          <% else %>
            <i class="icon star"></i> Edit Review
          <% end %>
        </div>
      </form>
      <% end %>
      <h2 class="ui dividing header"></h2>

      <div class="ui comments">
        <% @reviews.each do |review| %>
        <div class="comment">
            <!-- <a class="avatar">
              <img src="<%= asset_path('steve.jpg') %>"/>
            </a> -->
          <div class="content">
            <a class="author" style="color: white; cursor: text;"><%= review.user.name %></a>
            <div class="metadata">
              <span class="date" style="color: rgba(255, 255, 255, 0.9);"><%= review.created_at.strftime("%d/%m/%Y") %></span>
            </div>
            <div class="text" style="color: white;">
              <div class="ui tiny star rating review" data-rating="<%= review.stars %>" style="margin-right: 5px;"></div>
              <%= review.comment %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </div>

</div>

<!-- <p>
  <strong>Season ID:</strong>
  <%= @episode.season_id %>
</p> -->

<% if @user %>
    <%= form_for(@review, :html => {:class => 'ui inverted form'}) do |f| %>
      <% if @review.errors.any? %>
        <div id="error_explanation" class="ui negative message">
          <i class="close icon"></i>
          <div class="header"><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</div>
          <ul class="list">
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.hidden_field :stars %>
        <%= f.hidden_field :comment %>
        <%= f.hidden_field :tv_show_id, :value => @tv_show.id %>
        <%= f.hidden_field :user_id, :value => @user.id %>
        <%= f.hidden_field :episode_id, :value => @episode.id %>
      <div style="display: none;">
          <%= f.submit :submit, :class => 'submit-form' %>
      </div>
    <% end %>
<% end %>

<script type="text/javascript">
    // Rating default stars = 5
    $('.rating').rating({
        initialRating: 5,
        maxRating: 5
    });
    // New Review -> stars
    $('#review_stars').val(5);
    $('.new-review')
      .rating('setting', 'onRate', function(value) {
        $('#review_stars').val(value);
      });
    // New Review -> comment
    $("#review_text").on('change keyup paste', function() {
        $('#review_comment').val($("#review_text").val());
    });

    // New Review -> submit
    $("#add-review").click(function(){
        $(".submit-form").click();
    });

    // Review Rating
    $('.review').rating('disable');
</script>
