<%= form_for(actor, :html => {:class => 'ui inverted form'}) do |f| %>
  <% if actor.errors.any? %>
    <div id="error_explanation" class="ui negative message">
      <i class="close icon"></i>
      <div class="header"><%= pluralize(actor.errors.count, "error") %> prohibited this actor from being saved:</div>

      <ul class="list">
      <% actor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
      <%= f.submit :class => 'ui teal button' %>
  </div>
<% end %>
