<h1>Actors</h1>

<p id="notice"><%= notice %></p>

<%= link_to(new_actor_path, :class => "ui small teal labeled icon button") do %>
    <i class="user icon"></i> New Actor
<% end %>

<div class="ui middle aligned celled list" style="width: 50%;">
  <% @actors.each do |actor| %>
  <div class="item" style="margin-bottom: 5px; border-top: 1px solid rgba(255, 255, 255, 0.1)">
      <div class="right floated content">
          <!-- <%= link_to(actor_path(actor), :class => "ui left floated small teal labeled icon button") do %>
              <i class="television icon"></i> Show
          <% end %> -->
          <%= link_to(edit_actor_path(actor), :class => "ui left floated small primary labeled icon button") do %>
              <i class="edit icon"></i> Edit
          <% end %>
          <%= link_to(actor, method: :delete, data: {confirm: 'Are you sure?'}, :class => "ui left floated small negative labeled icon button") do %>
              <i class="edit icon"></i> Destroy
          <% end %>
      </div>
    <div class="middle aligned content" style="padding-top: 10px;">
      <div style="color:white;"><%= actor.name %></div>
    </div>
  </div>
  <% end %>
</div>
