<% content_for :outer do %>
<style type="text/css">
  #main_container {
    min-height: 0px;
    display: none;
  }
</style>


<!-- HEADER_CONTAINER -->
<div class="ui fluid container" id="header_container">
  <div class="ui fluid container" style="background-color: rgba(0,0,0,0.6);height: 100%;padding-top: 100px; padding-bottom: 60px;">

    <div class="ui container">
      <div class="ui three column grid">
        <div class="six wide column">
          <h1 class="ui mini inverted header">
            <div class="content logo_text">
            noFLIX
            </div>
            <div class="sub header" style="font-size:0.8em;">
              <i>Watch the best shows for free on noFlix. Take care of what your children see, administrate your own series and more, only here.</i>
            </div>
          </h1>
        </div>
        <div class="four wide column"></div>
        <div class="six wide column">
          <div class="ui raised right floated segment inverted center aligned" id="apply_segment">
            <h2 class="ui inverted icon header">
              <i class="film icon"></i> <!-- file code outline -->
              <div class="content">
                Want to join the best series platform?
              </div>
            </h2>
            <%= link_to "Join now!", new_user_registration_path, class: "ui big blue button" %>
            <%= link_to "Log in!", new_user_session_path, class: "ui big teal button" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- HEADER_CONTAINER -->

<!-- RECRUITERS CONTAINER -->
<div class="ui fluid container" id="recruiter_container">
  <div class="ui container">
    <div class="ui three column grid">
      <div class="eight wide column">
        <div class="ui three column grid" style="margin-top: 10px;">
          <div class="sixteen wide column"></div>
          <div class="sixteen wide column"></div>
          <div class="column">
            <i class="video play massive inverted icon"></i>
          </div>
          <div class="column">
            <i class="video play outline massive inverted icon"></i>
          </div>
          <div class="column">
            <i class="video play massive inverted icon"></i>
          </div>
        </div>
      </div>
      <div class="two wide column">

      </div>
      <div class="six wide column">
        <h1 class="ui inverted header">
          <div class="content logo_text">
            ARE YOU A SERIES' POWER USER?
          </div>
          <div class="sub header" style="font-size:0.8em;">
            <i>Find plenty of series in noFlix</i>
          </div>
        </h1>
        <%= link_to "Become a noFLIX member!", new_user_registration_path, class: "ui big blue button" %>
      </div>
    </div>
  </div>
</div>
<!-- RECRUITERS CONTAINER -->


<!-- BACKERS CONTAINER -->
<div class="ui fluid container" id="backers_container">
  <div class="ui container">
    <div class="ui grid">
      <div class="three wide column">

      </div>
      <div class="ten wide column">
        <h1 class="ui inverted center aligned header">
          <div class="content logo_text">
            OUR SERIES DATABASE IS EXPANDING
          </div>
        </h1>
      </div>
      <div class="three wide column">

      </div>
    </div>
    <div class="ui inverted segment" style="background-color: rgba(0,0,0,0);">
      <div class="column">
        <p id="notice"><%= notice %></p>

        <div class="ui grid">
          <div class="four wide column">

            <div class="field" style="">
              <div class="ui search">
                <div class="ui icon input">
                  <input class="prompt" type="text" placeholder="TV shows...">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
          </div>
          <div class="four wide column">
            <div class="field" style="">
              <select class="ui search dropdown" id="category-dropdown">
                <option value="">Filter by Category</option>
                <option value="Action">Action</option>
                <option value="Adventure">Adventure</option>
                <option value="Animation">Animation</option>
                <option value="Biography">Biography</option>
                <option value="Comedy">Comedy</option>
                <option value="Crime">Crime</option>
                <option value="Documentary">Documentary</option>
                <option value="Drama">Drama</option>
                <option value="Family">Family</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Film-Noir">Film-Noir</option>
                <option value="History">History</option>
                <option value="Horror">Horror</option>
                <option value="Music">Music</option>
                <option value="Musical">Musical</option>
                <option value="Mystery">Mystery</option>
                <option value="Romance">Romance</option>
                <option value="Sci-Fi">Sci-Fi</option>
                <option value="Sport">Sport</option>
                <option value="Thriller">Thriller</option>
                <option value="War">War</option>
                <option value="Western">Western</option>
              </select>

              <%= link_to(tv_shows_path, :class=>"ui icon button teal", :id=>"remove-category-filter") do%>
              <i class="remove icon"></i>
              <% end %>

            </div>

          </div>

        </div>


        <h1>Public TV Shows</h1>
        <div class="ui link four cards">
          <% @tv_shows.each do |tv_show| %>
          <% if tv_show.user_id == nil %>
          <%= link_to(tv_show_path(tv_show), :class => "card") do %>
          <div class="image">
            <img src="<%= asset_path('how.jpg') %>" />
          </div>
          <div class="content">
            <div class="header"><%= tv_show.title %></div>
            <div class="meta"><%= tv_show.start_year %></div>
            <div class="meta"><%= tv_show.seasons.count %> seasons</div>
          </div>
          <div class="extra content">
            <% if tv_show.stars_avg != "-" %>
            <div class="ui star rating" data-rating="<%= tv_show.stars_avg %>"></div>
            <% else %>
            <i class="star icon"></i>No reviews
            <% end %>
          </div>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- <div class="one column row">
      <div class="center aligned column" style="">
        <div class="ui center aligned container">
        <h1 class="secondary-header">Apuesta en</h1>
          <div class="ui tiny images">
              <img class="image" src="<%= image_url('recruit_candidates_white.png') %>">
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
<!-- BACKERS CONTAINER -->




<script type="text/javascript">
var content = [
<% @tv_shows.each do |t| %>
    <% if (@user and @user.is_admin) or (@user and @user.id == t.user_id) or (t.user_id == nil) %>
    { title: '<%= t.title %>', id:  <%= t.id %>},
    <% end %>
<% end %>
];
$('.ui.search')
  .search({
    source: content,
    onSelect: function(result){
        var naive_url = "<%= tv_show_path(1) %>"
        window.location.replace(naive_url.slice(0, -1) + result.id);
    }
  });
</script>

<script type="text/javascript">
// Rating default stars = 5
$('.rating').rating({
    initialRating: 5,
    maxRating: 5
});
$('.rating').rating('disable');
</script>

<script type="text/javascript">
// New TV Show -> category
$('#category-dropdown').dropdown();
<% if @filter_category %>
    $('#category-dropdown').dropdown('set text', '<%= @filter_category %>');
<% else %>
    $('#remove-category-filter').hide();
<% end %>
$("#category-dropdown").on('change', function() {
    var category = $("#category-dropdown").dropdown('get value')[0];
    var filter_url = "<%= tv_shows_path() %>";
    window.location.replace(filter_url + "?filter_category=" + category);
});
</script>
<% end %>