<h1><%= link_to(tv_show_path(@tv_show), :style => "color: rgba(255, 255, 255, 0.9);") do %>
    <%= @tv_show.title %>
    <% end %>
    <i class="arrow right icon"></i>
    Edit
</h1>

<%= render 'form', tv_show: @tv_show %>

<!-- <%= link_to 'New Season', new_season_path(tv_show_id0: @tv_show)%> | -->
<!-- <%= link_to 'Show', @tv_show %> |
<%= link_to 'Back', tv_shows_path %> -->
