
<p id="notice"><%= notice %></p>

<div class="field" style="margin-bottom: 20px;">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="TV shows...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
</div>

<%= link_to(new_tv_show_path, :class=>"ui labeled icon button teal") do%>
    <i class="add circle icon"></i>
    New TV Show
<% end %>

<% if @user %>
    <% if @user.is_admin %> <h1>All Private TV Shows</h1>
        <div class="ui link four cards">
            <% @tv_shows.each do |tv_show| %>
                <% if tv_show.user_id != nil %>
                    <%= link_to(tv_show_path(tv_show), :class => "card") do %>
                          <div class="image">
                              <img src="<%= asset_path('strangerthings.jpg') %>" />
                          </div>
                          <div class="content">
                            <div class="header"><%= tv_show.title %></div>
                            <div class="meta"><%= tv_show.start_year %></div>
                          </div>
                          <div class="extra content">
                            <% if tv_show.stars_avg != "-" %>
                            <div class="ui star rating" data-rating="<%= tv_show.stars_avg %>"></div>
                            <% else %>
                            <i class="star icon"></i>No reviews
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    <% else %> <h1>Private TV Shows</h1>
        <% if @user.private_tv_shows.count == 0 %>
        <h3 style="text-align:center;">You don't have any private TV Show...</h3>
        <% else %>
        <div class="ui link four cards">
            <% @user.private_tv_shows.each do |private_tv_show| %>
            <%= link_to(tv_show_path(private_tv_show), :class => "card") do %>
                  <div class="image">
                      <img src="<%= asset_path('how.jpg') %>" />
                  </div>
                  <div class="content">
                    <div class="header"><%= private_tv_show.title %></div>
                    <div class="meta"><%= private_tv_show.start_year %></div>
                  </div>
                  <div class="extra content">
                    <% if private_tv_show.stars_avg != "-" %>
                    <div class="ui star rating" data-rating="<%= private_tv_show.stars_avg %>"></div>
                    <% else %>
                    <i class="star icon"></i>No reviews
                    <% end %>
                  </div>
            <% end %>
            <% end %>
        </div>
        <% end %>
    <% end %>
<% end %>

<h1>Public TV Shows</h1>
<div class="ui link four cards">
    <% @tv_shows.each do |tv_show| %>
        <% if tv_show.user_id == nil %>
            <%= link_to(tv_show_path(tv_show), :class => "card") do %>
                  <div class="image">
                      <img src="<%= asset_path('how.jpg') %>" />
                  </div>
                  <div class="content">
                    <div class="header"><%= tv_show.title %></div>
                    <div class="meta"><%= tv_show.start_year %></div>
                  </div>
                  <div class="extra content">
                    <% if tv_show.stars_avg != "-" %>
                    <div class="ui star rating" data-rating="<%= tv_show.stars_avg %>"></div>
                    <% else %>
                    <i class="star icon"></i>No reviews
                    <% end %>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>

<script type="text/javascript">
var content = [
<% @tv_shows.each do |t| %>
    <% if (@user and @user.is_admin) or (@user and @user.id == t.user_id) or (t.user_id == nil) %>
    { title: '<%= t.title %>', id:  <%= t.id %>},
    <% end %>
<% end %>
];
$('.ui.search')
  .search({
    source: content,
    onSelect: function(result){
        var naive_url = "<%= tv_show_path(1) %>"
        window.location.replace(naive_url.slice(0, -1) + result.id);
    }
  });
</script>

<script type="text/javascript">
// Rating default stars = 5
$('.rating').rating({
    initialRating: 5,
    maxRating: 5
});
$('.rating').rating('disable');
</script>
