
<p id="notice"><%= notice %></p>

<!-- SEARCH -->
<div class="field" style="margin-bottom: 20px;">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="TV shows...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
</div>

<div class="ui four column grid">
  <div class="column">
   <!-- FILTER: Category -->
   <div class="field" style="margin-bottom:20px;">
    <select class="ui search dropdown" id="category-dropdown">
        <option value="">Filter by Category</option>
        <% @categories.each do |c| %>
        <option value="<%= c.label %>"><%= c.label %></option>
        <% end %>
    </select>

    <%= link_to(tv_shows_path, :class=>"ui icon button teal", :id=>"remove-category-filter") do%>
        <i class="remove icon"></i>
    <% end %>
   </div>

  </div>

  <div class="column">
    <!-- FILTER: Language -->
    <div class="field" style="margin-bottom:20px;">
        <select class="ui search dropdown" id="language-dropdown" name="language">
            <option value="">Filter by Language</option>
            <option value="Afrikaans">Afrikaans</option>
            <option value="Albanian">Albanian</option>
            <option value="Amharic">Amharic</option>
            <option value="Arabic">Arabic</option>
            <option value="Armenian">Armenian</option>
            <option value="Azerbaijani">Azerbaijani</option>
            <option value="Basque">Basque</option>
            <option value="Belarusian">Belarusian</option>
            <option value="Bengali">Bengali</option>
            <option value="Bosnian">Bosnian</option>
            <option value="Bulgarian">Bulgarian</option>
            <option value="Catalan">Catalan</option>
            <option value="Cebuano">Cebuano</option>
            <option value="Chichewa">Chichewa</option>
            <option value="Chinese">Chinese</option>
            <option value="Corsican">Corsican</option>
            <option value="Croatian">Croatian</option>
            <option value="Czech">Czech</option>
            <option value="Danish">Danish</option>
            <option value="Dutch">Dutch</option>
            <option value="English">English</option>
            <option value="Esperanto">Esperanto</option>
            <option value="Estonian">Estonian</option>
            <option value="Filipino">Filipino</option>
            <option value="Finnish">Finnish</option>
            <option value="French">French</option>
            <option value="Frisian">Frisian</option>
            <option value="Galician">Galician</option>
            <option value="Georgian">Georgian</option>
            <option value="German">German</option>
            <option value="Greek">Greek</option>
            <option value="Gujarati">Gujarati</option>
            <option value="Haitian Creole">Haitian Creole</option>
            <option value="Hausa">Hausa</option>
            <option value="Hawaiian">Hawaiian</option>
            <option value="Hebrew">Hebrew</option>
            <option value="Hindi">Hindi</option>
            <option value="Hmong">Hmong</option>
            <option value="Hungarian">Hungarian</option>
            <option value="Icelandic">Icelandic</option>
            <option value="Igbo">Igbo</option>
            <option value="Indonesian">Indonesian</option>
            <option value="Irish">Irish</option>
            <option value="Italian">Italian</option>
            <option value="Japanese">Japanese</option>
            <option value="Javanese">Javanese</option>
            <option value="Kannada">Kannada</option>
            <option value="Kazakh">Kazakh</option>
            <option value="Khmer">Khmer</option>
            <option value="Korean">Korean</option>
            <option value="Kurdish (Kurmanji)">Kurdish (Kurmanji)</option>
            <option value="Kyrgyz">Kyrgyz</option>
            <option value="Lao">Lao</option>
            <option value="Latin">Latin</option>
            <option value="Latvian">Latvian</option>
            <option value="Lithuanian">Lithuanian</option>
            <option value="Luxembourgish">Luxembourgish</option>
            <option value="Macedonian">Macedonian</option>
            <option value="Malagasy">Malagasy</option>
            <option value="Malay">Malay</option>
            <option value="Malayalam">Malayalam</option>
            <option value="Maltese">Maltese</option>
            <option value="Maori">Maori</option>
            <option value="Marathi">Marathi</option>
            <option value="Mongolian">Mongolian</option>
            <option value="Myanmar (Burmese)">Myanmar (Burmese)</option>
            <option value="Nepali">Nepali</option>
            <option value="Norwegian">Norwegian</option>
            <option value="Pashto">Pashto</option>
            <option value="Persian">Persian</option>
            <option value="Polish">Polish</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Punjabi">Punjabi</option>
            <option value="Romanian">Romanian</option>
            <option value="Russian">Russian</option>
            <option value="Samoan">Samoan</option>
            <option value="Scots Gaelic">Scots Gaelic</option>
            <option value="Serbian">Serbian</option>
            <option value="Sesotho">Sesotho</option>
            <option value="Shona">Shona</option>
            <option value="Sindhi">Sindhi</option>
            <option value="Sinhala">Sinhala</option>
            <option value="Slovak">Slovak</option>
            <option value="Slovenian">Slovenian</option>
            <option value="Somali">Somali</option>
            <option value="Spanish">Spanish</option>
            <option value="Sundanese">Sundanese</option>
            <option value="Swahili">Swahili</option>
            <option value="Swedish">Swedish</option>
            <option value="Tajik">Tajik</option>
            <option value="Tamil">Tamil</option>
            <option value="Telugu">Telugu</option>
            <option value="Thai">Thai</option>
            <option value="Turkish">Turkish</option>
            <option value="Ukrainian">Ukrainian</option>
            <option value="Urdu">Urdu</option>
            <option value="Uzbek">Uzbek</option>
            <option value="Vietnamese">Vietnamese</option>
            <option value="Welsh">Welsh</option>
            <option value="Xhosa">Xhosa</option>
            <option value="Yiddish">Yiddish</option>
            <option value="Yoruba">Yoruba</option>
            <option value="Zulu">Zulu</option>
        </select>

        <%= link_to(tv_shows_path, :class=>"ui icon button teal", :id=>"remove-language-filter") do%>
            <i class="remove icon"></i>
        <% end %>
    </div>

  </div>

  <div class="column">
    <!-- FILTER: Director -->
    <div class="field" style="margin-bottom:20px;">
      <select class="ui search dropdown" id="director-dropdown">
          <option value="">Filter by Director</option>
          <% @directors.each do |d| %>
          <option value="<%= d.id %>"><%= d.name %></option>
          <% end %>
      </select>

      <%= link_to(tv_shows_path, :class=>"ui icon button teal", :id=>"remove-director-filter") do%>
          <i class="remove icon"></i>
      <% end %>
    </div>

  </div>
</div>





<% if @user and !@user.is_kid%>
    <%= link_to(new_tv_show_path, :class=>"ui labeled icon button teal") do%>
        <i class="add circle icon"></i>
        New TV Show
    <% end %>
<% end %>
<% if @user and @filter_category %>
    <% if !@user.favourite_categories.include?(@filter_category) %>
        <%= link_to(tv_shows_path(:fav => @filter_category), method: :post, :class=>"ui labeled icon button green") do%>
            <i class="add circle icon"></i> Favourite
        <% end %>
    <% else %>
        <%= link_to(tv_shows_path(:fav => @filter_category), method: :post, :class=>"ui labeled icon button yellow") do%>
            <i class="add circle icon"></i> Un-Favourite
        <% end %>
    <% end %>
<% end %>
<% if @user and @filter_director%>
  <% if !@user.favourite_directors.exists?(@filter_director.id) %>
    <%= link_to(directors_path(:fav => @filter_director.id), method: :post, :class => "ui labeled icon button green") do %>
        <i class="add circle icon"></i> Favourite
    <% end %>
  <% else %>
    <%= link_to(directors_path(:fav => @filter_director.id), method: :post, :class => "ui labeled icon button yellow") do %>
        <i class="add circle icon"></i> Un-Favourite
    <% end %>
  <% end %>
<% end %>

<% if @user %>
    <% if @user.is_admin %>
        <h1>All Private TV Shows</h1>
        <div class="ui link four cards">
            <% @tv_shows.each do |tv_show| %>
                <% if tv_show.user_id != nil %>
                    <%= link_to(tv_show_path(tv_show), :class => "card") do %>
                          <div class="image">
                              <img src="<%= asset_path(tv_show.image_url) %>" />
                          </div>
                          <div class="content">
                            <div class="header"><%= tv_show.title %></div>
                            <div class="meta"><%= tv_show.start_year %></div>
                            <div class="meta"><%= tv_show.seasons.count %></div>
                          </div>
                          <div class="extra content">
                            <% if tv_show.stars_avg != "-" %>
                            <div class="ui star rating" data-rating="<%= tv_show.stars_avg %>"></div>
                            <% else %>
                            <i class="star icon"></i>No reviews
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    <% else %> <h1>Private TV Shows</h1>
        <% if @user.private_tv_shows.count == 0 %>
        <h3 style="text-align:center;">You don't have any private TV Show...</h3>
        <% else %>
        <div class="ui link four cards">
            <% @user.private_tv_shows.each do |private_tv_show| %>
            <%= link_to(tv_show_path(private_tv_show), :class => "card") do %>
                  <div class="image">
                      <img src="<%= asset_path(private_tv_show.image_url) %>" />
                  </div>
                  <div class="content">
                    <div class="header"><%= private_tv_show.title %></div>
                    <div class="meta"><%= private_tv_show.start_year %></div>
                    <div class="meta"><%= private_tv_show.seasons.count %></div>
                  </div>
                  <div class="extra content">
                    <% if private_tv_show.stars_avg != "-" %>
                    <div class="ui star rating" data-rating="<%= private_tv_show.stars_avg %>"></div>
                    <% else %>
                    <i class="star icon"></i>No reviews
                    <% end %>
                  </div>
            <% end %>
            <% end %>
        </div>
        <% end %>
    <% end %>
<% end %>

<h1>Public TV Shows</h1>
<div class="ui link four cards">
    <% @tv_shows.each do |tv_show| %>
        <% if tv_show.user_id == nil %>
            <%= link_to(tv_show_path(tv_show), :class => "card") do %>
                  <div class="image">
                      <img src="<%= asset_path(tv_show.image_url) %>" />
                  </div>
                  <div class="content">
                    <div class="header"><%= tv_show.title %></div>
                    <div class="meta"><%= tv_show.start_year %></div>
                    <div class="meta"><%= tv_show.seasons.count %> seasons</div>
                  </div>
                  <div class="extra content">
                    <% if tv_show.stars_avg != "-" %>
                    <div class="ui star rating" data-rating="<%= tv_show.stars_avg %>"></div>
                    <% else %>
                    <i class="star icon"></i>No reviews
                    <% end %>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>

<script type="text/javascript">
var content = [
<% @tv_shows.each do |t| %>
    <% if (@user and @user.is_admin) or (@user and @user.id == t.user_id) or (t.user_id == nil) %>
    { title: '<%= t.title %>', id:  <%= t.id %>},
    <% end %>
<% end %>
];
$('.ui.search')
  .search({
    source: content,
    onSelect: function(result){
        var naive_url = "<%= tv_show_path(1) %>"
        window.location.replace(naive_url.slice(0, -1) + result.id);
    }
  });
</script>

<script type="text/javascript">
// Rating default stars = 5
$('.rating').rating({
    initialRating: 5,
    maxRating: 5
});
$('.rating').rating('disable');
</script>

<script type="text/javascript">
// Filter -> category
$('#category-dropdown').dropdown();
<% if @filter_category %>
    $('#category-dropdown').dropdown('set text', '<%= @filter_category %>');
<% else %>
    $('#remove-category-filter').hide();
<% end %>
$("#category-dropdown").on('change', function() {
    var category = $("#category-dropdown").dropdown('get value')[0];
    var filter_url = "<%= tv_shows_path() %>";
    window.location.replace(filter_url + "?filter_category=" + category);
});

// Filter -> language
$('#language-dropdown').dropdown();
<% if @filter_language %>
    $('#language-dropdown').dropdown('set text', '<%= @filter_language %>');
<% else %>
    $('#remove-language-filter').hide();
<% end %>
$("#language-dropdown").on('change', function() {
    var language = $("#language-dropdown").dropdown('get value')[0];
    var filter_url = "<%= tv_shows_path() %>";
    window.location.replace(filter_url + "?filter_language=" + language);
});

// Filter -> director
$('#director-dropdown').dropdown();
<% if @filter_director %>
    $('#director-dropdown').dropdown('set text', '<%= @filter_director.name %>');
<% else %>
    $('#remove-director-filter').hide();
<% end %>
$("#director-dropdown").on('change', function() {
    var director = $("#director-dropdown").dropdown('get value')[0];
    var filter_url = "<%= tv_shows_path() %>";
    window.location.replace(filter_url + "?filter_director=" + director);
});
</script>
