<h1>Tv Shows</h1>

<p id="notice"><%= notice %></p>

<div class="field">
    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="TV shows...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
</div>

<div class="ui horizontal divider"></div>

<div class="ui link four cards">
    <% @tv_shows.each do |tv_show| %>
        <%= link_to(tv_show_path(tv_show), :class => "card") do %>
              <div class="image">
                  <img src="<%= asset_path('how.jpg') %>" />
              </div>
              <div class="content">
                <div class="header"><%= tv_show.title %></div>
                <div class="meta"><%= tv_show.start_year %></div>
              </div>
              <div class="extra content">
              <i class="star icon"></i>
              <%= tv_show.stars_avg %>
            </div>
        <% end %>
    <% end %>
</div>

<script type="text/javascript">
var content = [
<% @tv_shows[0..5].each do |t| %>
{ title: '<%= t.title %>', id:  <%= t.id %>},
<% end %>
];
$('.ui.search')
  .search({
    source: content,
    onSelect: function(result){
        var naive_url = "<%= tv_show_path(1) %>"
        window.location.replace(naive_url.slice(0, -1) + result.id);
    }
  });
</script>

<br>

<%= link_to 'New Tv Show', new_tv_show_path %>
