<p id="notice"><%= notice %></p>

<div class="ui tree column grid">
  <div class="six wide column">
    <img src="<%= asset_path('how.jpg') %>" style="width: 100%;"/>
  </div>
  <div class="five wide column">
      <h2><%= @tv_show.title %></h2>

      <p><%= @tv_show.plot %></p>

      <p>
        <strong>Language:</strong>
        <%= @tv_show.language %>
      <p>

      <p>
        <strong>Subtitles:</strong>
        <div class="ui bulleted list">
            <% @subtitles.each do |subtitle| %>
            <div class="item"><%= subtitle.language %></div>
            <% end %>
        </div>
      <p>

      </p>
        <strong>Country:</strong>
        <%= @tv_show.country %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @tv_show.category %>
      </p>

      <p>
        <strong>Start Year:</strong>
        <%= @tv_show.start_year %>
      </p>

      <p>
        <strong>End Year:</strong>
        <%= @tv_show.end_year %>
      </p>

      <!-- <p>
        <strong>Director ID:</strong>
        <%= @tv_show.director_id %>
      </p>

      <p>
        <strong>Owner ID:</strong>
        <%= @tv_show.owner_id %>
      </p> -->

  </div>

  <div class="five wide column">
    <h3>Seasons</h3>
    <div class="ui cards">
      <% @seasons.each do |season| %>
          <%= link_to(season_path(season), :class => "card") do %>
          <!-- <div class="card"> -->
            <div class="content">
              <div class="header" style="text-align:center;">
                Season <%= season.number %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>

</div>

<div class="ui inverted list" style="width:40px">
  <%= link_to 'Edit', edit_tv_show_path(@tv_show), :class => 'item' %>
  <%= link_to 'Back', tv_shows_path, :class => 'item' %>
</div>
