<p id="notice"><%= notice %></p>

<div class="ui tree column grid">
  <div class="six wide column">
    <img src="<%= asset_path('how.jpg') %>" style="width: 100%;"/>
  </div>
  <div class="five wide column">
      <h2><%= @tv_show.title %></h2>

      <p><%= @tv_show.plot %></p>

      <p>
        <strong>Language:</strong>
        <%= @tv_show.language %>
      <p>

      <p>
        <strong>Subtitles:</strong>
        <div class="ui bulleted list">
            <% @subtitles.each do |subtitle| %>
            <div class="item"><%= subtitle.language %></div>
            <% end %>
        </div>
      <p>

      </p>
        <strong>Country:</strong>
        <%= @tv_show.country %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @tv_show.category %>
      </p>

      <p>
        <strong>Start Year:</strong>
        <%= @tv_show.start_year %>
      </p>

      <p>
        <strong>End Year:</strong>
        <%= @tv_show.end_year %>
      </p>

  </div>

  <div class="five wide column">
    <h3>Seasons</h3>
    <% if @user and ((@user.is_admin) or (@user.id == @tv_show.user_id)) %>
    <div class="ui action input" style="margin-bottom: 40px;">
      <input type="number" placeholder="Season Number" id="season_n">
      <button class="ui button teal" id="add-season">Add Season</button>
    </div>
    <% end %>
    <div class="ui cards">
      <% @seasons.each do |season| %>
          <%= link_to(season_path(season), :class => "card") do %>
            <div class="content">
              <div class="header" style="text-align:center;">
                Season <%= season.number %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= form_for(@season, :html => {:class => 'ui inverted form'}) do |f| %>
  <% if @season.errors.any? %>
    <div id="error_explanation" class="ui negative message">
      <div class="header"><%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:</div>
      <ul class="list">
      <% @season.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :number %>
    <%= f.hidden_field :tv_show_id, :value => @tv_show.id %>
    <div style="display: none;">
        <%= f.submit :submit, :class => 'submit-form' %>
    </div>
<% end %>

<script type="text/javascript">
// New Season -> number
$("#season_n").on('change keyup paste', function() {
    $('#season_number').val($("#season_n").val());
});
// New Season -> submit
$("#add-season").click(function(){
    $(".submit-form").click();
});
</script>

<% if @user and ((@user.is_admin) or (@user.id == @tv_show.user_id)) %>
<div class="ui inverted list" style="width:40px">
  <%= link_to 'Edit', edit_tv_show_path(@tv_show), :class => 'item' %>
  <!-- <%= link_to 'Back', tv_shows_path, :class => 'item' %> -->
</div>
<% end %>
