<p id="notice"><%= notice %></p>

<div class="ui tree column grid">
  <div class="six wide column">
    <img src="<%= asset_path('how.jpg') %>" style="width: 100%; margin-bottom: 20px;"/>
    <% if @user and ((@user.is_admin) or (@user.id == @tv_show.user_id)) %>
        <!-- Edit -->
            <%= link_to(edit_tv_show_path(@tv_show), :class => "ui labeled icon button teal field", :style => "margin-bottom:15px;") do%>
                <i class="edit icon"></i>
                Edit TV Show
            <% end %>
        <br>
        <!-- Destroy -->
        <%= link_to(@tv_show, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui labeled icon button negative") do %>
            <i class="trash icon"></i>
            Destroy TV Show
        <% end %>
    <% end %>


  </div>
  <div class="five wide column">
      <h2><%= @tv_show.title %></h2>

      <p><%= @tv_show.plot %></p>

      <p>
          <strong>Director:</strong>
          <%= @tv_show.director.name %>
      </p>

      <p>
        <strong>Actors:</strong>
        <div class="ui bulleted list">
            <% @tv_show.actors.each do |actor| %>
            <div class="item"><%= actor.name %></div>
            <% end %>
        </div>
      <p>

      <p>
        <strong>Language:</strong>
        <%= @tv_show.language %>
      <p>

      <p>
        <strong>Subtitles:</strong>
        <div class="ui bulleted list">
            <% @subtitles.each do |subtitle| %>
            <div class="item"><%= subtitle.language %></div>
            <% end %>
        </div>
      <p>

      </p>
        <strong>Country:</strong>
        <%= @tv_show.country %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @tv_show.category %>
      </p>

      <p>
        <strong>Start Year:</strong>
        <%= @tv_show.start_year %>
      </p>

      <p>
        <strong>End Year:</strong>
        <%= @tv_show.end_year %>
      </p>

  </div>

  <div class="five wide column">
    <h3>Seasons</h3>
    <% if @user and ((@user.is_admin) or (@user.id == @tv_show.user_id)) %>
    <div class="ui action input" style="margin-bottom: 40px;">
      <input type="number" placeholder="Season Number" id="season_n">
      <button class="ui button teal" id="add-season">Add Season</button>
    </div>
    <% end %>
    <div class="ui cards">
      <% @seasons.each do |season| %>
          <%= link_to(season_path(season), :class => "card") do %>
            <div class="content">
              <div class="header" style="text-align:center;">
                Season <%= season.number %>
              </div>
              <div class="meta" style="text-align:center;">
                <span class="date"><%= season.episodes.count %> episodes</span>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="ui feed">
    <h2 class="ui dividing header" style="color: white; margin-top: 40px;">News Feed</h2>

    <% if @user %>
    <form class="ui form" style="margin-top: 20px;">
      <div class="field">
        <textarea id="post_text" placeholder="Your post..." rows="2"></textarea>
      </div>
      <div class="ui teal labeled submit icon button" id="add-post">
        <i class="icon newspaper"></i> Post
      </div>
    </form>
    <% end %>
    <h2 class="ui dividing header"></h2>

    <% @articles.each do |a| %>
    <div class="event">
      <div class="content">
        <div class="summary">
          <strong style="color: white;"><%= a.user.name %></strong>
          <div class="date" style="color: rgba(255, 255, 255, 0.9);">
            <%= a.created_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
        <div class="text" style="color: white;">
            <%= a.content %>
        </div>
      </div>
    </div>
    <% end %>
</div>

<%= form_for(@season) do |f| %>
  <% if @season.errors.any? %>
    <div id="error_explanation" class="ui negative message">
      <div class="header"><%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:</div>
      <ul class="list">
      <% @season.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :number %>
    <%= f.hidden_field :tv_show_id, :value => @tv_show.id %>
    <div style="display: none;">
        <%= f.submit :submit, :class => 'submit-form' , :id => 'submit-add-season'%>
    </div>
<% end %>

<% if @user %>
    <%= form_for(@article) do |f| %>
      <% if @article.errors.any? %>
        <div id="error_explanation" class="ui negative message">
          <div class="header"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</div>
          <ul class="list">
          <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <%= f.hidden_field :content%>
        <%= f.hidden_field :tv_show_id, :value => @tv_show.id%>
        <%= f.hidden_field :user_id, :value => @user.id %>
        <div style="display: none;">
            <%= f.submit :submit, :class => 'submit-form' , :id => 'submit-add-post'%>
        </div>
    <% end %>
<% end %>

<script type="text/javascript">
// New Season -> number
$("#season_n").on('change keyup paste', function() {
    $('#season_number').val($("#season_n").val());
});
// New Season -> submit
$("#add-season").click(function(){
    $("#submit-add-season").click();
});
// New Season -> post
$("#post_text").on('change keyup paste', function() {
    $('#article_content').val($("#post_text").val());
});
// New Post -> submit
$("#add-post").click(function(){
    $("#submit-add-post").click();
});
</script>
