<%= form_for(subtitle, :html => {:class => 'ui inverted form'}) do |f| %>
  <% if subtitle.errors.any? %>
    <div id="error_explanation" class="ui negative message">
      <i class="close icon"></i>
      <div class="header"><%= pluralize(subtitle.errors.count, "error") %> prohibited this subtitle from being saved:</div>

      <ul class="list">
      <% subtitle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :language %>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.submit :class => 'ui teal button' %>
  </div>
<% end %>
