<!DOCTYPE html>
<html>
  <head>
    <title>Noflix</title>
    <%= csrf_meta_tags %>
    <%= yield :view_specific_css %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui top fixed inverted big menu" id="menu_header">
      <div class="ui container">
        <%= link_to('noFLIX', root_path, class: 'item', id: 'logo') %>
        <div class="right menu">
          <% if current_user and current_user.is_admin %>
            <%= link_to(administrator_path(current_user.id), class: 'item') do %>
            <strong>Admin</strong>
            <% end %>
          <% end %>
          <% if current_user and !current_user.is_admin %>
            <%= link_to(list_watched_episode_path(1), class: 'item') do %>
            <strong>Watched Episodes</strong>
            <% end %>
          <% end %>
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items' %>
        </div>
      </div>
    </div>
    <%= yield :outer %>
    <div id="main_container">
      <div class="ui container inverted segment" id="page_container">
        <!-- <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        -->
        <%= yield %>
      </div>
    </div>
  </body>
</html>
