<h1>Directors</h1>

<p id="notice"><%= notice %></p>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @directors.each do |director| %>
      <tr>
        <td><%= director.name %></td>
        <td>
            <%= link_to(director_path(director), :class => "ui left floated small teal labeled icon button") do %>
                <i class="television icon"></i> Show
            <% end %>
        </td>
        <td>
            <%= link_to(edit_director_path(director), :class => "ui left floated small primary labeled icon button") do %>
                <i class="edit icon"></i> Edit
            <% end %>
        </td>
        <td>
            <%= link_to('Destroy', director, method: :delete, data: {confirm: 'Are you sure?'}) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot class="full-width">
      <tr>
        <th colspan="4">
            <%= link_to(new_director_path, :class => "ui left floated small teal labeled icon button") do %>
                <i class="user icon"></i> New Director
            <% end %>
        </th>
      </tr>
    </tfoot>
</table>
