<h1>Users</h1>
<div class="ui middle aligned celled list" style="width: 45%;">
  <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <div class="item" style="margin-bottom: 5px;">
          <div class="right floated content">
            <% if user.is_admin %>
                <%= link_to(remove_admin_administrator_path(user), :class=>"ui button blue") do%>
                    Remove administrator privileges
                <% end %>
            <% else %>
                <%= link_to(set_admin_administrator_path(user), :class=>"ui button green") do%>
                    Give administrator privileges
                <% end %>
            <% end %>
            <!-- <%= button_to "Destroy", registration_path(user), data: { confirm: "Are you sure?" }, method: :delete, :class => 'ui negative button' %> -->
          </div>
        <i class="large user middle aligned icon"></i>
        <div class="content">
          <div class="header" style="color:white;"><%= user.name %></div>
          <div class="description" style="color:rgba(255, 255, 255, 0.9);"><%= user.email %></div>
        </div>
      </div>
      <% end %>
  <% end %>
</div>
