<%= form_for(season, :html => {:class => 'ui inverted form'}) do |f| %>
  <% if season.errors.any? %>
    <div id="error_explanation" class="ui negative message">
      <div class="header"><%= pluralize(season.errors.count, "error") %> prohibited this season from being saved:</div>

      <ul class="list">
      <% season.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :tv_show_id %>
    <%= f.text_field :tv_show_id %>
  </div>

  <div class="field">
      <%= f.submit :class => 'ui teal button' %>
  </div>
<% end %>
