<h2><%= link_to(tv_show_path(@tv_show), :style => "color: rgba(255, 255, 255, 0.9);") do %>
    <%= @tv_show.title %>
    <% end %>
    <i class="chevron right icon"></i>
    <%= link_to(season_path(@season), :style => "color: rgba(255, 255, 255, 0.9);") do %>
        Season <%= @season.number %>
    <% end %>
    <i class="arrow right icon"></i>
    Edit
</h2>

<%= render 'form', season: @season %>

<!-- <%= link_to 'New Episode', new_episode_path(season_id0: @season.id)%> |
<%= link_to 'Show', @season %> |
<%= link_to 'Back', seasons_path %> -->
