<h2><%= @tv_show.title %> <i class="chevron right icon"></i> Season <%= @season.number %></h2>

<p id="notice"><%= notice %></p>

<div class="ui two column grid">
  <div class="six wide column">
    <img src="<%= asset_path('how.jpg') %>" style="width: 100%; margin-bottom: 20px;"/>

    <!-- Solo pueden editar y agregar capitulos: admin y owners -->
    <% if @user and (@user.is_admin or @user.id == @tv_show.user_id) %>
        <%= link_to(edit_season_path(@season), :class=>"ui labeled icon button teal") do%>
            <i class="edit icon"></i>
            Edit Season
        <% end %>
        <%= link_to(new_episode_path(season_id0: @season.id), :class=>"ui labeled icon button teal") do%>
            <i class="add circle icon"></i>
            New Episode
        <% end %>
    <% end %>

  </div>

  <div class="ten wide column">
    <div class="ui cards">
      <% @episodes.each do |episode| %>
          <%= link_to(episode_path(episode), :class => "card") do %>
            <div class="content">
                <div class="meta" style="text-align:center; margin-bottom: 5px;">
                  Episode <%= episode.number %>
                </div>
              <div class="header" style="text-align:center;">
                <%= episode.title %>
              </div>

              <div class="description">
                <%= episode.plot %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>

</div>
