<%= form_for(article, :html => {:class => 'ui inverted form'}) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="ui negative message">
      <div class="header"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</div>

      <ul class="list">
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :tv_show_id %>
    <%= f.text_field :tv_show_id %>
  </div>

  <div class="field">
      <%= f.submit :class => 'ui teal button' %>
  </div>
<% end %>
